@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@200&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
  }

  li {
    @apply p-4 hover:cursor-pointer;
  }

  h1 {
    @apply text-2xl font-bold;
  }

  h2 {
    @apply text-3xl font-bold;
  }
  h3 {
    @apply text-xl font-bold;
  }

  button {
    @apply bg-blue-600 px-6 py-2 rounded-md text-white text-xl font-semibold cursor-pointer;
  }

  .icon {
    @apply cursor-pointer;
  }
}
